<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Juliette</title>
</head>
<body id="page-top" ng-app="myApp" scroll>
    <div id="home" class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <!--<div class="navbar-header page-scroll">-->
                    <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
                        <!--<span class="sr-only">Toggle navigation</span>-->
                        <!--<span class="icon-bar"></span>-->
                        <!--<span class="icon-bar"></span>-->
                        <!--<span class="icon-bar"></span>-->
                    <!--</button>-->
                <!--</div>-->
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#home" du-smooth-scroll du-scrollspy>Home</a></li>
                        <li><a href="#overmij" du-smooth-scroll du-scrollspy>Over mij</a></li>
                        <li><a href="#opleidingen" du-smooth-scroll du-scrollspy>Opleidingen</a></li>
                        <li><a href="#werkervaring" du-smooth-scroll du-scrollspy>Werkervaring</a></li>
                        <li><a href="#skills" du-smooth-scroll du-scrollspy>Skills</a></li>
                        <li><a href="#cv" du-smooth-scroll du-scrollspy>Curriculum Vitae</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="header">
                <div class="container">
                    <div class="carousel-caption">
                        <ul class="social">
                            <li class="effect rotate"><a href="https://be.linkedin.com/in/juliette-van-kampen-876422111" target="_blank"><img src="img/linkedin42.png"> </a></li>
                            <li class="effect rotate"><a href="https://www.pinterest.com/juliette_v_k/" target="_blank"><img src="img/pinterest42.png"> </a></li>
                            <li class="effect rotate"><a href="https://www.instagram.com/juuvk/" target="_blank"><img src="img/instagram42.png"> </a></li>
                        </ul>
                    </div>
                </div>
                <div class="name text-right">
                    <h1>Juliette van Kampen</h1>
                </div>
                <div class="header-img"></div>
    </div>
    <div class="line"></div>

    <section>
        <div class="container">
            <div class="introtext text-center col-lg-12 animated zoomIn">
                <h1>Front End Developer/ Designer</h1>
                <h2>uit Amsterdam, momenteel werkzaam in Gent</h2>
            </div>

        </div>
    </section>

    <section>
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2 uitleg">
                <p>Met deze website stel ik me aan u voor omdat ik graag een functie wil vinden in de front-end design richting, zodat ik al
                    werkend meer ervaring kan opdoen met de combinatie van vormgeven en coderen.</p>
            </div>
        </div>
    </section>

    <section class="imagebox">
        <div class="container-fluid">
            <div class="row m-b-lg" id="overmij" >
                <div class="col-lg-12 text-center">
                    <h1>Interesses</h1>
                </div>
            </div>
            <div class="row">
                    <div class="images col-md-5 col-md-offset-1">
                        <img src="img/reizen350.jpg" class="img-responsive arty" alt="">
                        <div class="mask">
                            <h4>Reizen</h4>
                        </div>
                    </div>
                    <div class="images col-md-5 col-md-offset-0">
                        <img src="img/artyme350.jpg" class="img-responsive arty" alt="">
                        <div class="mask">
                            <h4>Design & Architectuur</h4>
                        </div>
                    </div>
                    <div class="images col-md-5 col-md-offset-1">
                        <img src="img/softball350.jpg" class="img-responsive arty" alt="">
                        <div class="mask">
                            <h4>Teamsport</h4>
                        </div>
                    </div>
                    <div class="images col-md-5 col-md-offset-0">
                        <img src="img/muziek350.jpg" class="img-responsive arty" alt="">
                        <div class="mask">
                            <h4>Muziek</h4>
                        </div>
                    </div>

            </div>
        </div>
        <div class="container infotext">
            <div class="row info m-b-lg" >
                <div class="col-lg-12 text-center">
                    <h1>Wie ben ik</h1>
                </div>
            </div>
            <div class="col-lg-8 col-lg-offset-2  animated bounceIn text-justify overmij">
                <p>Na het behalen van mijn bachelor Kunst- en Architectuurgeschiedenis aan  de Vrije Universiteit Amsterdam, ben ik eerst wat van de
                    wereld gaan zien. Ik reisde onder andere een jaar door Australië, en later nog een half jaar door
                    Midden Amerika en de Verenigde Staten. Na terugkomst besloot ik een IT- opleiding te gaan volgen.
                    De studie kunstgeschiedenis bestond voornamelijk uit veel onderzoek doen en papers schrijven. Ik
                    schrijf graag maar houd me nog liever bezig met kunst en design, middels foto's bewerken of
                    afbeeldingen construeren met Photoshop en Illustrator. Met de kennis van beide studies zou ik op den duur mijn
                    voornaamste twee interessegebieden beroepsmatig kunnen combineren.</p>
                <p>Om praktische en persoonlijke redenen werd het de opleiding  Toegepaste Informatica aan de
                    Hogeschool Gent. (Gent is me uistekend bevallen. Het is een fijne stad, waar ik me thuis voel en
                    leuke contacten heb opgedaan.) Na de nodige basiskennis over front end development opgedaan te hebben kon ik na 2 jaar al een job vinden en heb ik besloten te stoppen met de opleiding. Op dit moment ben ik werkzaam bij Optibi, een start up bedrijf waar ik de front end development voorzie.</p>
                <p>Naast designen en programmeren sport ik graag. Ik doe aan softball (baseball). Ik heb er bewust voor gekozen om te sporten in teamverband.</p>
                <h3>Ervaring</h3>
                <p>Tijdens de opleiding en mijn huidige werkzaamheden ontdekte ik dat mijn voorkeur en aanleg vooral liggen op het terrein van vormgeving.
                    Ik kan met plezier uren aan de styling van een site werken tot ik de perfecte kleur of vorm vind. Tijdens mijn studie en werk
                    heb ik ervaring opgedaan met zowel HTML5, SCSS als JavaScript en AngularJS maar ik zou graag nog meer willen leren in een omgeving waar veel
                    gewerkt wordt aan zowel ontwerp als codering, waarbij ik mij hopelijk nog verder kan ontwikkelen in de richting van HTML/CSS Design.
                </p>
            </div>
        </div>
    </section>
    <div class="line"></div>

    <section>
        <div class="container">
            <div class="row info m-b-lg" id="opleidingen" >
                <div class="col-lg-12 text-center">
                    <h1>Opleidingen</h1>
                </div>
            </div>
            <div class="row info">
                <div class="col-lg-12 ">
                    <table class="col-lg-12 col-lg-6 col-lg-offset-3" border="0">
                        <tr>
                            <td>2013 - 2015</td>
                            <td><span class="thick">HoGent</span> Toegepaste Informatica</td>
                        </tr>
                        <tr>
                            <td>2006 - 2010</td>
                            <td><span class="thick">Vrije Universiteit Amsterdam</span> Kunst- en Achitectuurgeschiedenis</td>
                        </tr>
                        <tr>
                            <td>2000 - 2006</td>
                            <td><span class="thick">Zernike College Haren</span> Voortgezet Wetenschappelijk Onderwijs</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </section>
    <div class="line"></div>

    <section>
        <div class="container">
            <div class="row info m-b-lg" id="werkervaring">
                <div class="col-lg-12 text-center">
                    <h1>Werkervaring</h1>
                </div>
            </div>
            <div class="row info">
                <table class="col-lg-6 col-lg-offset-3">
                    <tr>
                        <td>Okt 2015 - Heden</td>
                        <td><span class="thick">Optibi</span> Front End Webdevelopment</td>
                    </tr>
                    <tr>
                        <td>Jun 2014 - Jul 2015</td>
                        <td><span class="thick">Backstay Hostel Gent</span> Receptie</td>
                    </tr>
                    <tr>
                        <td>Okt 2013 - Feb 2014</td>
                        <td><span class="thick">Hostel Uppelink Gent</span> Receptie</td>
                    </tr>
                    <tr>
                        <td>Jun 2013 - Jul 2013</td>
                        <td><span class="thick">Banana Bungalow Hostel San Diego</span> Housekeeping & Bar</td>
                    </tr>
                    <tr>
                        <td>Ma 2012 - Ma 2013</td>
                        <td><span class="thick">White Tulip Hostel Amsterdam</span> Receptie & Bar</td>
                    </tr>
                    <tr>
                        <td>Nov 2011 - Dec 2011</td>
                        <td><span class="thick">Transport Bar Melbourne</span> Ba</td>
                    </tr>
                    <tr>
                        <td>Aug 2011 - Dec 2011</td>
                        <td><span class="thick">Nomads Hostel Melbourne</span> Receptie & Bar</td>
                    </tr>
                    <tr>
                        <td>Apr 2010 - Okt 2010</td>
                        <td><span class="thick">Buscher-Malloca Amsterdam</span> Tour Guide</td>
                    </tr>
                </table>

            </div>
        </div>
        <div class="line"></div>
    </section>

    <section>
        <div class="container">
            <div class="row info m-b-lg" id="skills">
                <div class="col-lg-12 text-center">
                    <h1>Skills</h1>
                </div>
            </div>
            <div class="row info">
                <div class="col-lg-6 col-lg-offset-3">
                    <h4>HTML5/SCSS</h4>
                    <progressbar value="80" ></progressbar>
                    <h4>Photoshop</h4>
                    <progressbar value="65" ></progressbar>
                    <h4>Illustrator</h4>
                    <progressbar value="30" ></progressbar>
                    <h4>JavaScript</h4>
                    <progressbar value="32"></progressbar>
                    <h4>JQuery</h4>
                    <progressbar value="42"></progressbar>
                    <h4>AngularJS</h4>
                    <progressbar value="52"></progressbar>
                    <h4>Drupal</h4>
                    <progressbar value="25"></progressbar>
                </div>
            </div>
        </div>
    </section>

    <section id="cv" style="margin-top: 0">

        <div class="container background" >
            <div class="row info m-b-lg">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="foot">Hopelijk heb ik u kunnen overtuigen van mijn kennis en kunde. Via onderstaande link kunt u mijn cv downloaden. Contacteer me gerust voor een verkennend gesprek.</p>
                    <img src="img/ornament.png" class="img-responsive pdf" alt="">
                    <a href="img/cvJulietteVanKampen15.pdf" target="_blank" download><img src="img/pdf65.png" class="img-responsive pdf spin" alt=""></a>
                </div>
            </div>
        </div>

    </section>

</body>
</html>


